<div class="container">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 mt-5">
            <h1>Book a Meal</h1>
            <br>
            <div class="card-body">
                <h5>Host {{frirstName}}</h3>
                <h5>State {{state}}</h4>
                <h5>Country {{country}}</h4>
                <h5>Host Bio</h5>
                <p>{{bio}}</p>
                <br>
                <form>
                    <p><strong>Date</strong> {{eventDate}}</p>
                    <p><strong>Time</strong> {{eventTime}}</p>
                    <p><strong>$ {{eventCost}} per guest</strong></p>
                    <div class="form-group">
                        <p><strong>Host can accomodate {{eventGuest}} guests</strong></p>
                        <input type="number" class="form-control" id="InputGuest" aria-describedby="Guest">
                    </div>
                    <p><strong>Menu</strong></p>
                    <p>{{eventMenu}}</p>
                    <button type="submit" value="Submit" class="btn btn-primary">Book</button>
                </form>
            </div>
        </div>
    </div>
</div>